<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Apply for Passport</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	<body>
		
		<div class="container">

			<h1>Passport Seva</h1>
			<h2>Government of India</h2>
			<br>
			<p style="color:red"><b>*Only for Indian Nationality*</b></p>
			<h4>Enter your details below:</h4>
			<hr/>
			
			<form th:action="@{/savePerson}" th:object="${person}" method="POST">

				<input type="text" th:field="*{AadharNo}" class="form-control col-4 mb-4" placeholder="Enter Aadhar Number" />

				<input type="text" th:field="*{FirstName}" class="form-control col-4 mb-4" placeholder="Enter First Name" />

				<input type="text" th:field="*{LastName}" class="form-control col-4 mb-4" placeholder="Enter Last Name" />

				<input type="text" th:field="*{Gender}" class="form-control col-4 mb-4" placeholder="Enter Gender M or F" />

				<input type="text" th:field="*{Address}" class="form-control col-4 mb-4" placeholder="Enter Address Name" />

				<input type="text" th:field="*{FatherName}" class="form-control col-4 mb-4" placeholder="Enter Father's Name" />

				<input type="text" th:field="*{MotherName}" class="form-control col-4 mb-4" placeholder="Enter Mother's Name" />

				<input type="text" th:field="*{DateOfBirth}" class="form-control col-4 mb-4" placeholder="Enter your Date of Birth" />

				<input type="text" th:field="*{BirthPlace}" class="form-control col-4 mb-4" placeholder="Enter your place of Birth" />

				<input type="text" th:field="*{IssuePlace}" class="form-control col-4 mb-4" placeholder="Enter place of Issue" />

				<input type="text" th:field="*{IssueDate}" class="form-control col-4 mb-4" placeholder="Enter date of Issue" />

				<input type="text" th:field="*{ExpiryDate}" class="form-control col-4 mb-4" placeholder="Enter Expiry Date " />

				<button type="submit" class="btn btn-primary col-2">Apply</button>
				
			</form>
			<hr/>
		</div>
		
	</body>
</html>