<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<div align="center" class="container">

<h1>Passport Seva</h1>
<h2>Government of India</h2>
<br>
<div align="center">
    <h4> Select one option </h4>
    <form method = "GET" th:action= "@{/ApplyPassport}">
        <button type="submit" style="height: 100px; width: 300px" class="btn btn-primary col-2">Issue a Passport</button>&ensp;
    </form>
    <br>
    <form method = "GET" th:action = "@{/PassportIssueRequestList}">
        <button type="submit" style="height: 100px; width: 300px" class="btn btn-warning col-2">Validate a Passport</button>
    </form>
</div>
<br>

<p><b>Note:</b> 1.) Only Authorized Personnel can validate a passport</p>
<p>&emsp;&emsp;&ensp;2.) Only people having Indian nationality can get a passport from this application</p>
</div>
</body>
</html>