<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of All the Issue Request for Passport</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<h1> Passport Seva</h1>
<h2> Government of India</h2>
<h4 align="center">Issue requests for Passport</h4>
<hr>
<div align="center" >
    <table class="table table-bordered table-striped table-hover table-responsive-md">
        <thead>
        <tr>
            <th class="col-0.5">Aadhar No.</th>
            <th class="col-1">First Name</th>
            <th class="col-1">Last Name</th>
            <th class="col-0.7">Gender</th>
            <th class="col-2 mb-4">Address</th>
            <th class="col-1">Father's Name</th>
            <th class="col-1">Mother's Name</th>
            <th class="col-1">Date Of Birth</th>
            <th class="col-1">Birth Place</th>
            <th class="col-0.5">Issue Place</th>
            <th class="col-1">Issue Date</th>
            <th class="col-1">Expiry Date</th>
            <th class="col-1">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="issue : ${people}">

            <td th:text="${issue.AadharNo}"></td>
            <td th:text="${issue.FirstName}"></td>
            <td th:text="${issue.LastName}"></td>
            <td th:text="${issue.Gender}"></td>
            <td th:text="${issue.Address}"></td>
            <td th:text="${issue.FatherName}"></td>
            <td th:text="${issue.MotherName}"></td>
            <td th:text="${issue.DateOfBirth}"></td>
            <td th:text="${issue.BirthPlace}"></td>
            <td th:text="${issue.IssuePlace}"></td>
            <td th:text="${issue.IssueDate}"></td>
            <td th:text="${issue.ExpiryDate}"></td>
            <td>
                <form method = "GET" th:action = "@{/ValidateApplication/{id}(id=${issue.id})}">
                <button type="submit" style="height: 80px; width: 200px"class="btn btn-success col-8">Validate and Issue</button>
                <br>
                    <br>
                </form>
                <form  method = "GET" th:action = "@{/RejectApplication/{id}(id=${issue.id})}">
                <button type="submit" style="height: 50px; width: 200px"class="btn btn-danger col-8">Reject</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="#" th:action="@{/}" method="GET">
        <button type="submit" class="btn btn-info"><- Go Back to Home Page</button>
    </form>
</div>
</body>
</html>